/* 폰트적용 */
@font-face {
	font-family: 'MonoplexKR-Italic';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Italic.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

@import
	url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap')
	;

html>body {
	font-family: 'MonoplexKR-Italic';
	width: 100%;
  	min-height: 100vh;

  	margin-top: 30px;
	margin-bottom: 30px;
}

html>body, html>body .toast-ui-editor, html>body .toastui-editor-contents,
	html>body .ProseMirror, html>body .toastui-editor-md-mode {
	font-family: 'MonoplexKR-Italic';
	text-underline-position: under;
	font-size : 16px;
}
/* 노멀라이징 */
*{
  margin: 0;
  padding: 0;
}
ul , li {
  list-style: none ;
}
a{
  color: inherit ;
  text-decoration: none ;
}

/*라이브러리*/
.table-box-type-1>table {
	width: 100%;
}
.table-box-type-2>table {
	width: 100%;
}
.cell{
  float: left ;
}
.cell-r{
  float: right ;
}
.row::after{
  clear: both;
  content: "";
  display: block;
}
.con{
  max-width: 1440px ;
  margin: 0 auto ;
} 
.table-box-type-1>table th, .table-box-type-1>table td {
	border: 1px solid #304899;
	padding: 10px;
	text-align: center;
}

.table-box-type-2>table th, .table-box-type-2>table td {
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: grey;
}

.btn-text-link:hover {
	color: green;
	text-decoration: underline;
}

.fc_red {
  color: #e04241;
}

.fc_redH:hover {
  color: #e04241;
}


.fc_blue {
  color: #304899;
}
.center-box {
	max-width: 500px;
	margin: auto;
}

.has-fail {
	color: red;
}

.has-success {
	color: green;
}

/* style */
body {
	min-width: 800px;
}

.top-bar-wrap>.nav-wrap>.logo-box {
  display: flex;
  justify-content: center;
}

/* 메뉴 라인 */
.menu_wrap1 {
  background-color: #304899;
  color : white;
}

.menu_wrap1>.menu_wrap2 {
  width: 900px;
}

.menu_wrap2>.menu {
  width: 210px;
  height: 50px;
  margin-right: 20px;
  padding-top: 6px;
  text-align: center;
  box-sizing: border-box;
  line-height: 40px;
  font-weight: bold;
  font-size: 15px;
}

.menu_wrap2>.menu>a:hover {
  color: #e04241;
}

.menu_wrap2>.menu:last-child {
  margin-right: 0;
}

.login-box>.control {
  margin-right: 15px;
}

.login-box>.control:last-child {
  margin-right: 0;
}

.login-box {
  margin-right: 25px;
}
/* top-menu en */

/* main section st */
.main-visual {
	margin-top: 10px;
}
/* main section en */

/* login layout st */
.login_section {
	margin-top: 10px;
}

.login_section>.login_form_wrap {
	width: 500px;
	margin: 0 auto;
	height: 500px;
	padding: 40px;
}

.login_section>.login_title {
	margin: 0 auto;
	margin-bottom: 20px;
}
.login_section>.login_form_wrap>.login-form {
	margin-top: 30px;
}

.login_section>.login_form_wrap>.login-form>.members_form .login-input>.line2 {
	margin-top: 15px
}
.login_section>.login_form_wrap>.login-form>.members_form .login-input>.line {
	display: block;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.login_section>.login_form_wrap>.login-form>.members_form .login-input>.line .id-input {
	display: block;
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    text-indent: 1.5rem;
} 
.login_section>.login_form_wrap>.login-form>.members_form .login-input>.line .pw-input {
	display: block;
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    text-indent: 1.5rem;
}
.login_section>.login_form_wrap>.login-form .l-btn {
	width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
    height: 3rem;
    line-height: 3rem;
    border-radius: 5px;
    border: 1px solid #304899;
    background-color: #304899;
    font-weight: 400;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}
.login_section>.login_form_wrap>.login-form .l-btn:hover {
	color : #e04241;
}
.login_section>.login_form_wrap>.login-form>.find-btn {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 2.2rem 0 4.4rem;
}
.login_section>.login_form_wrap>.login-form>.find-btn > a{
	text-decoration: none;
	font-size: 1.3rem;
    color: #6B6B6B;
}
.login_section>.login_form_wrap>.login-form>.find-btn > a:hover {
	color : #e04241;
}
.login_section>.login_form_wrap>.login-form>.find-btn >.l-bar {
	display: block;
    width: 1px;
    height: 11px;
    background-color: #BEBEBE;
    margin: 0 2.3rem;
}

/* login layout en */

/* findLoginId layout st */
.findLoginId_section {
	margin-top: 10px;
}

.findLoginId_section>.form_wrap {
	width: 500px;
	margin: 0 auto;
	height: 500px;
	padding: 40px;
}

.findLoginId_section>.form_wrap {
	margin: 0 auto;
	margin-bottom: 20px;
}
.findLoginId_section>.form_wrap>.find_loginId_form {
	margin-top: 30px;
}

.findLoginId_section>.form_wrap>.find_loginId_form>.members_form .findLoginId-input>.line2 {
	margin-top: 15px
}
.findLoginId_section>.form_wrap>.find_loginId_form>.members_form .findLoginId-input>.line {
	display: block;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.members_form .findLoginId-input>.line .name_input-box {
	display: block;
    box-sizing: border-box;
    width: 100%;
    /* height: 3rem; */
    line-height: 3rem;
    font-size: 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    text-indent: 1.5rem;
} 
.findLoginId_section>.form_wrap>.find_loginId_form>.members_form .findLoginId-input>.line .name_input-box >input {
	width: 380px;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.members_form .findLoginId-input>.line .name_input-box >input:focus {
	outline: none;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.members_form .findLoginId-input>.line .email_input-box {
	display: block;
    box-sizing: border-box;
    width: 100%;
    /* height: 3rem; */
    line-height: 3rem;
    font-size: 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    text-indent: 1.5rem;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.members_form .findLoginId-input>.line .email_input-box >input {
	width: 380px;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.members_form .findLoginId-input>.line .email_input-box >input:focus {
	outline: none;
}
.findLoginId_section>.form_wrap>.find_loginId_form .f-btn {
	width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
    height: 3rem;
    line-height: 3rem;
    border-radius: 5px;
    border: 1px solid #304899;
    background-color: #304899;
    font-weight: 400;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}
.findLoginId_section>.form_wrap>.find_loginId_form .f-btn:hover {
	color : #e04241;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.find-btn {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 2.2rem 0 4.4rem;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.find-btn > a, .back_btn{
	text-decoration: none;
	font-size: 1.3rem;
    color: #6B6B6B;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.find-btn > a:hover {
	color : #e04241;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.find-btn >.back_btn:hover {
	color : #e04241;
}
.findLoginId_section>.form_wrap>.find_loginId_form>.find-btn >.l-bar {
	display: block;
    width: 1px;
    height: 11px;
    background-color: #BEBEBE;
    margin: 0 2.3rem;
}
/* findLoginId layout en */


/* findLoginPw layout st */
.findLoginPw_section {
	margin-top: 10px;
}

.findLoginPw_section>.form_wrap {
	width: 500px;
	margin: 0 auto;
	height: 500px;
	padding: 40px;
}

.findLoginPw_section>.form_wrap {
	margin: 0 auto;
	margin-bottom: 20px;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form {
	margin-top: 30px;
}

.findLoginPw_section>.form_wrap>.find_loginPw_form>.members_form .findLoginPw-input>.line2 {
	margin-top: 15px
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.members_form .findLoginPw-input>.line {
	display: block;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.members_form .findLoginPw-input>.line .id_input-box {
	display: block;
    box-sizing: border-box;
    width: 100%;
    /* height: 3rem; */
    line-height: 3rem;
    font-size: 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    text-indent: 1.5rem;
} 
.findLoginPw_section>.form_wrap>.find_loginPw_form>.members_form .findLoginPw-input>.line .id_input-box >input {
	width: 380px;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.members_form .findLoginPw-input>.line .id_input-box >input:focus {
	outline: none;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.members_form .findLoginPw-input>.line .email_input-box {
	display: block;
    box-sizing: border-box;
    width: 100%;
    /* height: 3rem; */
    line-height: 3rem;
    font-size: 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    text-indent: 1.5rem;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.members_form .findLoginPw-input>.line .email_input-box >input {
	width: 380px;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.members_form .findLoginPw-input>.line .email_input-box >input:focus {
	outline: none;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form .f-btn {
	width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
    height: 3rem;
    line-height: 3rem;
    border-radius: 5px;
    border: 1px solid #304899;
    background-color: #304899;
    font-weight: 400;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form .f-btn:hover {
	color : #e04241;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.find-btn {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 2.2rem 0 4.4rem;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.find-btn > a, .back_btn{
	text-decoration: none;
	font-size: 1.3rem;
    color: #6B6B6B;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.find-btn > a:hover {
	color : #e04241;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.find-btn >.back_btn:hover {
	color : #e04241;
}
.findLoginPw_section>.form_wrap>.find_loginPw_form>.find-btn >.l-bar {
	display: block;
    width: 1px;
    height: 11px;
    background-color: #BEBEBE;
    margin: 0 2.3rem;
}
/* findLoginPw layout en */

/* memberJoin layout st */
.memberJoin_section>.form_wrap {
  width: 500px;
  margin: 0 auto;
  height: auto;
}

.memberJoin_section>.form_wrap {
  margin: 0 auto;
  margin-bottom: 20px;
}

.memberJoin_section>.form_wrap>.memberJoin_form {
  margin-top: 30px;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.members_form .memberJoin-input>.line {
  margin-bottom: 25px;
  display: block;
  font-size: 1.2rem;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.members_form .memberJoin-input>.line>.loginIdMsg {
  font-size: 11px;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.members_form .memberJoin-input>.line2 {
  margin-top: 15px
}
.memberJoin_section>.form_wrap>.memberJoin_form>.members_form .memberJoin-input>.line>.nicknameMsg {
  font-size: 11px;
}
.memberJoin_section>.form_wrap>.memberJoin_form>.members_form .memberJoin-input>.line>label {
  margin-right: 10px;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.members_form .memberJoin-input>.line .input-box {
  display: block;
  box-sizing: border-box;
  width: 100%;
  line-height: 2rem;
  font-size: 12px;
  border: 1px solid #212121;
  border-radius: 5px;
  text-indent: 1.5rem;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.members_form .memberJoin-input>.line .input-box>input {
  width: 380px;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.members_form .memberJoin-input>.line .input-box>input:focus {
  outline: none;
}

.memberJoin_section>.form_wrap>.memberJoin_form .j-btn {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  height: 2rem;
  line-height: 2rem;
  border-radius: 5px;
  border: 1px solid #304899;
  background-color: #304899;
  font-weight: 400;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}

.memberJoin_section>.form_wrap>.memberJoin_form .j-btn:hover {
  color: #e04241;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.find-btn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 4px;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.find-btn>.back_btn {
  text-decoration: none;
  font-size: 1.3rem;
  color: #6B6B6B;
  margin-bottom: 10px;
}

.memberJoin_section>.form_wrap>.memberJoin_form>.find-btn>.back_btn:hover {
  color: #e04241;
}

/* memberJoin layout en */

/* myPage layout st */
.myPage_section {
  margin-top: 30px;
  margin-bottom: 15px;
}

.myPage_section >.info_wrap {
  width: 500px;
  padding: 20px;
}

.myPage_section >.info_wrap >.title {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin: 10px auto;

}

.myPage_section>.info_wrap>.btn-box {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1rem;
  box-sizing: border-box;
  height: 2rem;
  line-height: 2rem;
  border-radius: 5px;
  background-color: #304899;
  font-weight: 400;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}

.myPage_section>.info_wrap>.btn-box:hover {
  color: #e04241;
}

.myPage_section >.btns >.back_btn:hover {
  color: #e04241;
}

/* myPage layout en */

/* modifyMyInfo st */
.modifyInfo_section {
  max-width: 1440px;
  margin-top : 30px;
}
    
.modifyInfo_section >.menual {
  font-size: 11px;
  text-align: center;
  color: orange;
  margin-bottom : 20px;
}
.modifyInfo_section .modifyMyInfo_form >.btn_box {
  width: 500px;
  font-size : 11px;
}
.modifyInfo_section .modifyMyInfo_form >.btn_box >.back_btn:hover {
  color: #e04241;
}

.modifyInfo_section .modifyMyInfo_form table .m-btn {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: #304899;
  color: #fff;
  transition: 0.5s;
  margin-top: 30px;
}

.modifyInfo_section .modifyMyInfo_form table .m-btn:hover {
  color: #e04241;
}

/* modifyMyInfo en */


/* pwCheck layout st */
.checkPW_section {
  margin-top: 10px;
}

.checkPW_section>.form_wrap {
  width: 500px;
  margin: 0 auto;
  height: 500px;
  padding: 40px;
}

.checkPW_section>.form_wrap {
  margin: 0 auto;
  margin-bottom: 20px;
}

.checkPW_section>.form_wrap>.chechPw_form {
  margin-top: 30px;
}

.checkPW_section>.form_wrap>.chechPw_form>.pw_form .cPw-input>.line2 {
  margin-top: 15px
}

.checkPW_section>.form_wrap>.chechPw_form>.pw_form .cPw-input>.line {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}


.checkPW_section>.form_wrap>.chechPw_form>.pw_form .cPw-input>.line .loginId_box>input {
  width: 380px;
}

.checkPW_section>.form_wrap>.chechPw_form>.pw_form .cPw-input>.line .pw_input_box>input:focus {
  outline: none;
}

.checkPW_section>.form_wrap>.chechPw_form>.pw_form .cPw-input>.line-2 .pw_input_box {
  display: block;
  box-sizing: border-box;
  width: 100%;
  /* height: 3rem; */
  line-height: 3rem;
  font-size: 15px;
  border: 1px solid #212121;
  border-radius: 5px;
  text-indent: 1.5rem;
}

.checkPW_section>.form_wrap>.chechPw_form>.pw_form .cPw-input>.line .pw_input_box>input {
  width: 380px;
}

.checkPW_section>.form_wrap>.chechPw_form>.pw_form .cPw-input>.line .pw_input_box>input:focus {
  outline: none;
}

.checkPW_section>.form_wrap>.chechPw_form .c-btn {
  width: 100%;
  font-size: 1.5rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  border-radius: 5px;
  border: 1px solid #304899;
  background-color: #304899;
  font-weight: 400;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}

.checkPW_section>.form_wrap>.chechPw_form .c-btn:hover {
  color: #e04241;
}

.checkPW_section>.form_wrap>.chechPw_form>.btn_box {
  margin-top: 20px;
}

.checkPW_section>.form_wrap>.chechPw_form .back_Btn:hover {
  color: #e04241;
}

/* pwCheck layout en */

/* article_detail_section st */
.article_detail_section {
  padding: 29px 29px 0;
}
.article_detail_section >.article_wrap {
  border: 1px solid #304899 ;
  border-radius: 6px;
  padding: 29px 29px 0;
}
.article_detail_section >.article_wrap >.article_header {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #304899;
}
.article_detail_section >.article_wrap >.article_header >.articleTitle {

}
.article_detail_section >.article_wrap >.article_header >.articleTitle >.boardName {
  color : #304899;
  font-size: 15px;
}
.article_detail_section >.article_wrap >.article_header >.articleTitle >.titleName {
  font-weight: bold;
  font-size: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
} 

.article_detail_section >.article_wrap >.article_header >.writerInfo {

}
.article_detail_section >.article_wrap >.article_header >.writerInfo >.profile_img {
  background-color: orange;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  margin-top: 7px;
}
/* 프로필 이미지 영역 */
.article_detail_section >.article_wrap >.article_header >.writerInfo >.profile_img >img {
  background-color: yellow;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  vertical-align: top;
}

.article_detail_section >.article_wrap >.article_header >.writerInfo >.profileArea {

}
.article_detail_section >.article_wrap >.article_header >.writerInfo >.profileArea >.profileInfo {

}
.article_detail_section >.article_wrap >.article_header >.writerInfo >.profileArea >.profileInfo >.profileNick {
  font-size: 15px;
  font-weight: bold;
}
.article_detail_section >.article_wrap >.article_header >.writerInfo >.profileArea >.articleInfo {
  font-size: 12px;
  line-height: 13px;
  color: #979797;
}
.article_detail_section >.article_wrap >.article_header >.articleTool {
  font-size: 12px;
  line-height: 13px;
  color: #525050;
  padding-top: 24px;
} 
.article_detail_section >.article_wrap >.article_header >.articleTool >.likeNum {

}
.article_detail_section >.article_wrap >.article_header >.articleTool >.likeNum >.like {
  margin-right: 10px;
}
.article_detail_section >.article_wrap >.articleContainer {

}
.article_detail_section >.article_wrap >.articleContainer >.articleViewer{
  min-height: 300px;
}
.article_detail_section >.article_wrap >.reactionBox {
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
}
.article_detail_section >.article_wrap >.reactionBox .btn_like {
  margin-right: 20px;
}
.article_detail_section >.article_wrap >.reactionBox .btn_like:hover {
  color: #304899;
}
.article_detail_section >.article_wrap >.reactionBox .btn_hate:hover {
  color: #e04241;
}

/* 게시글 수정 삭제 버튼 */
.article_detail_section >.article_wrap >.btns {
  font-size: 15px;
  font-weight: bold;
}
.article_detail_section >.article_wrap >.btns .mBtn:hover {
  color: #304899;
}
.article_detail_section >.article_wrap >.btns .dBtn:hover {
  color: #e04241;
}

/* 댓글 */
.article_detail_section >.article_wrap >.replyBox {
  border-top: 1px solid #bcbeea;
}
.article_detail_section >.article_wrap >.replyBox >.replyTitle {
  color: #304899;
  font-size: 15px;
  margin-top: 15px;
}
.article_detail_section >.article_wrap >.replyBox >.replyTitle >span {
  color: #e04241;
}
.article_detail_section >.article_wrap >.replyBox table >thead >.replyHead {
  color: #304899;
}

.article_detail_section >.article_wrap >.replyBox >.writeWrap >.replyWrite {
  color: #304899;
  font-size: 15px;
  margin-top: 15px;
}

/* article_detail_section en */

/* 팝업창 */
.popUp {
	font-size: 1.2rem;
	cursor: pointer;
}

.layer {
	display: none;
	width: 500px;
	height: 500px;
	background-color: black;
	color: white;
	border: 2px solid gold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 11;
}

.layer>button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: 2px solid white;
	border-radius: 10px;
}

.layer-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

/* 토글버튼 */
.tgl {
	display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl+.tgl-btn
	{
	box-sizing: border-box;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection,
	.tgl *:after::selection, .tgl *:before::selection, .tgl+.tgl-btn::selection
	{
	background: none;
}

.tgl+.tgl-btn {
	outline: 0;
	display: block;
	width: 4em;
	height: 2em;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.tgl+.tgl-btn:after, .tgl+.tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
}

.tgl+.tgl-btn:after {
	left: 0;
}

.tgl+.tgl-btn:before {
	display: none;
}

.tgl:checked+.tgl-btn:after {
	left: 50%;
}

.tgl-skewed+.tgl-btn {
	overflow: hidden;
	transform: skew(-10deg);
	backface-visibility: hidden;
	transition: all 0.2s ease;
	font-family: sans-serif;
	background: #888;
}

.tgl-skewed+.tgl-btn:after, .tgl-skewed+.tgl-btn:before {
	transform: skew(10deg);
	display: inline-block;
	transition: all 0.2s ease;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 2em;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.tgl-skewed+.tgl-btn:after {
	left: 100%;
	content: attr(data-tg-dark);
}

.tgl-skewed+.tgl-btn:before {
	left: 0;
	content: attr(data-tg-light);
}

.tgl-skewed+.tgl-btn:active {
	background: #888;
}

.tgl-skewed+.tgl-btn:active:before {
	left: -10%;
}

.tgl-skewed:checked+.tgl-btn {
	background: #86d993;
}

.tgl-skewed:checked+.tgl-btn:before {
	left: -100%;
}

.tgl-skewed:checked+.tgl-btn:after {
	left: 0;
}

.tgl-skewed:checked+.tgl-btn:active:after {
	left: 10%;
}